# 16. First Steps with Pandas Series

In [410]:
import pandas as pd

In [411]:
titanic = pd.read_csv("titanic.csv")

- when selecting only one colun with one row data usually get a pandas series

In [412]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [413]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [414]:
titanic["age"] #returns series (one dimensional labeled array) (array with 891 length)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [415]:
type(titanic["age"])

pandas.core.series.Series

In [416]:
age = titanic["age"]

In [417]:
age.dtype #attribute

dtype('float64')

In [418]:
age.shape

(891,)

In [419]:
len(age)

891

In [420]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [421]:
#age.info() #returns error , because info method only available on pandas dataframe

In [422]:
age.to_frame().info() #convert series to dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

# 17. Analyzing Numerical Series with unique(), nunique() and value_counts()

## analyzing numerical series

In [423]:
age.describe() #summary statistics on nummerical columns

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [424]:
age.count() #returns value with non missing value

714

In [425]:
age.size #returns all element including with missing values

891

In [426]:
len(age)

891

In [427]:
age.sum()

21205.17

In [428]:
age.sum(skipna = True) #sum(age) #because sum method can't handle missing value , see info with shift+tab

21205.17

In [429]:
age.mean()

29.69911764705882

In [430]:
age.median()

28.0

In [431]:
age.std()

14.526497332334042

In [432]:
age.min()

0.42

In [433]:
age.max()

80.0

In [434]:
age.unique() #nan values are included

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [435]:
len(age.unique())

89

In [436]:
age.nunique() #excludes missing values , have (dropna= ) parameter

88

In [437]:
age.value_counts()

24.00    30
22.00    27
18.00    26
28.00    25
19.00    25
         ..
55.50     1
74.00     1
0.92      1
70.50     1
12.00     1
Name: age, Length: 88, dtype: int64

In [438]:
age.value_counts(sort = True) #sort from high frequency to low , if false return in order of appearance

24.00    30
22.00    27
18.00    26
28.00    25
19.00    25
         ..
55.50     1
74.00     1
0.92      1
70.50     1
12.00     1
Name: age, Length: 88, dtype: int64

In [439]:
age.value_counts(dropna=False) #dropna default true

NaN      177
24.00     30
22.00     27
18.00     26
28.00     25
        ...
0.42       1
34.50      1
66.00      1
14.50      1
0.92       1
Name: age, Length: 89, dtype: int64

In [440]:
age.value_counts(ascending = True) #from low frequencies to high

0.67      1
14.50     1
36.50     1
74.00     1
24.50     1
         ..
19.00    25
30.00    25
18.00    26
22.00    27
24.00    30
Name: age, Length: 88, dtype: int64

In [441]:
age.value_counts(sort = True,dropna=True,ascending = False, normalize = False)

24.00    30
22.00    27
18.00    26
28.00    25
19.00    25
         ..
55.50     1
74.00     1
0.92      1
70.50     1
12.00     1
Name: age, Length: 88, dtype: int64

In [442]:
age.value_counts(sort = True,dropna=False,ascending = False, normalize = True) #normalize calculate relative frequencies

NaN      0.198653
24.00    0.033670
22.00    0.030303
18.00    0.029181
28.00    0.028058
           ...
0.42     0.001122
34.50    0.001122
66.00    0.001122
14.50    0.001122
0.92     0.001122
Name: age, Length: 89, dtype: float64

In [443]:
30/age.size #30/age.count() #count return with no missing values

0.03367003367003367

In [444]:
age.value_counts(sort = True,dropna=True,ascending = False, normalize = True, bins = 5) #bins equal range , equal width , 
#normalize get relative frequencies

(16.336, 32.252]    0.388328
(32.252, 48.168]    0.210999
(0.339, 16.336]     0.112233
(48.168, 64.084]    0.077441
(64.084, 80.0]      0.012346
Name: age, dtype: float64