# 7. What is an API - The Movie Database API

## web APIs are the most common way to get data from web application without knowing database details

## url structure for movie module:
## "https://api.themoviedb.org/3/movie/insert_movie_id?api_key=insert_api_key" (replace "insert_movie_id" with movie id and "insert_api_key" with your personal api-key)
##url structure for discover module:
##"https://api.themoviedb.org/3/discover/movie?api_key=insert_api_key&query1&query2..." (replace "insert_api_key" with your personal api-key and add appropriate queries) (query string)

# 8. Working with APIs and JSON (Part 1)

In [38]:
import pandas as pd
import requests
import json
pd.options.display.max_columns = 10
api_key = "api_key=93d535406a3ad38890f9d5de388e32a1" #free to use :))

In [3]:
movie_id = 140607

In [4]:
movie_api = "https://api.themoviedb.org/3/movie/{}?" #bracket form movie_id
movie_api

'https://api.themoviedb.org/3/movie/{}?'

In [5]:
url = movie_api.format(movie_id) + api_key
url

'https://api.themoviedb.org/3/movie/140607?api_key=93d535406a3ad38890f9d5de388e32a1'

In [6]:
r = requests.get(url)
r #ok

In [7]:
data = r.json()

In [8]:
data

{'adult': False,
 'backdrop_path': '/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg',
 'belongs_to_collection': {'id': 10,
  'name': 'Star Wars Collection',
  'poster_path': '/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg',
  'backdrop_path': '/d8duYyyC9J5T825Hg7grmaabfxQ.jpg'},
 'budget': 245000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 14, 'name': 'Fantasy'}],
 'homepage': 'http://www.starwars.com/films/star-wars-episode-vii',
 'id': 140607,
 'imdb_id': 'tt2488496',
 'original_language': 'en',
 'original_title': 'Star Wars: The Force Awakens',
 'overview': 'Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.',
 'popularity': 50.389,
 'poster_path': '/wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg',
 'production_companies': [{'id': 1,
   'logo_path': '/o86DbpburjxrqAzEDhXZcyE8pDb.png',
   'name': 'Lucasfilm Ltd.',
   'origin_country': 'US'},
  {'id': 11461,
   'logo_path': '/p9FoEt5shEKRWRKVIlvFaEmRnun.png',
   'name': 'Bad Robot',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2015-12-15',
 'revenue': 2068223624,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Every generation has a story.',
 'title': 'Star Wars: The Force Awakens',
 'video': False,
 'vote_average': 7.4,
 'vote_count': 15697}

In [9]:
type(data)

dict

In [10]:
#pd.DataFrame(data) #fail only one column data

In [11]:
pd.Series(data)

adult                                                                False
backdrop_path                             /k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg
belongs_to_collection    {'id': 10, 'name': 'Star Wars Collection', 'po...
budget                                                           245000000
genres                   [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
homepage                 http://www.starwars.com/films/star-wars-episod...
id                                                                  140607
imdb_id                                                          tt2488496
original_language                                                       en
original_title                                Star Wars: The Force Awakens
overview                 Thirty years after defeating the Galactic Empi...
popularity                                                          50.389
poster_path                               /wqnLdwVXoBjKibFRR5U3y0aDUhs.jpg
production_companies     [{'id': 1, 'logo_path': '/o86DbpburjxrqAzEDhXZ...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    2015-12-15
revenue                                                         2068223624
runtime                                                                136
spoken_languages         [{'english_name': 'English', 'iso_639_1': 'en'...
status                                                            Released
tagline                                      Every generation has a story.
title                                         Star Wars: The Force Awakens
video                                                                False
vote_average                                                           7.4
vote_count                                                           15697
dtype: object

In [12]:
df = pd.Series(data).to_frame().T #T = transpose
df

,adult,backdrop_path,belongs_to_collection,budget,genres,...,tagline,title,video,vote_average,vote_count
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",...,Every generation has a story.,Star Wars: The Force Awakens,False,7.4,15697

In [13]:
pd.json_normalize(data, sep = "_") #normalize  some columns

,adult,backdrop_path,budget,genres,homepage,...,vote_count,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.starwars.com/films/star-wars-episod...,...,15697,10,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg

In [14]:
pd.json_normalize(data = data, record_path = "genres", meta = "title")

    id             name                         title
0   28           Action  Star Wars: The Force Awakens
1   12        Adventure  Star Wars: The Force Awakens
2  878  Science Fiction  Star Wars: The Force Awakens
3   14          Fantasy  Star Wars: The Force Awakens

In [15]:
pd.json_normalize(data = data, record_path = "production_companies", meta = "title")

,id,logo_path,name,origin_country,title
0,1,/o86DbpburjxrqAzEDhXZcyE8pDb.png,Lucasfilm Ltd.,US,Star Wars: The Force Awakens
1,11461,/p9FoEt5shEKRWRKVIlvFaEmRnun.png,Bad Robot,US,Star Wars: The Force Awakens

# 9. How to work with your own API-KEY

# 10. Working with APIs and JSON (Part 2)

In [16]:
discover_api = "https://api.themoviedb.org/3/discover/movie?"

In [17]:
query = "&primary_release_date.gte=2020-01-01&primary_release_date.lte=2020-02-29" #can pass page parameter (&page=2)

In [18]:
url = discover_api+api_key+query

In [19]:
data = requests.get(url).json() #get and convert result to json data

In [20]:
data

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/jiqD14fg7UTZOT6qgvzTmfRYpWI.jpg',
   'genre_ids': [28, 80],
   'id': 495764,
   'original_language': 'en',
   'original_title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'overview': 'Harley Quinn joins forces with a singer, an assassin and a police detective to help a young girl who had a hit placed on her after she stole a rare diamond from a crime lord.',
   'popularity': 488.493,
   'poster_path': '/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg',
   'release_date': '2020-02-05',
   'title': 'Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 7353},
  {'adult': False,
   'backdrop_path': '/3N316jUSdhvPyYTW29G4v9ebbcS.jpg',
   'genre_ids': [53, 28, 80],
   'id': 38700,
   'original_language': 'en',
   'original_title': 'Bad Boys for Life',
   'overview': 'Marcus and Mike are forced to confront new threats, career changes, and midlife crises as they join the newly created elite team AMMO of the Miami police department to take down the ruthless Armando Armas, the vicious leader of a Miami drug cartel.',
   'popularity': 429.3,
   'poster_path': '/y95lQLnuNKdPAzw9F9Ab8kJ80c3.jpg',
   'release_date': '2020-01-15',
   'title': 'Bad Boys for Life',
   'video': False,
   'vote_average': 7.2,
   'vote_count': 6180},
  {'adult': False,
   'backdrop_path': '/1umKVgbjFG5Cho5ZKTpcvRFJjuJ.jpg',
   'genre_ids': [35, 53, 80],
   'id': 609242,
   'original_language': 'es',
   'original_title': 'El robo del siglo',
   'overview': 'In 2006, a group of thieves performed what is considered one of the most famous and smart bank heists in the history of Argentina. How they robbed the Rio bank is as surprising as what happened afterwards. This is their story.',
   'popularity': 385.791,
   'poster_path': '/aSGwXbaTMxUhrfXT6xyZKqoklfB.jpg',
   'release_date': '2020-01-16',
   'title': 'The Heist of the Century',
   'video': False,
   'vote_average': 8,
   'vote_count': 481},
  {'adult': False,
   'backdrop_path': '/6mKAKhj8POVGqV1GsroS5mGIUe9.jpg',
   'genre_ids': [14, 28, 12],
   'id': 666750,
   'original_language': 'en',
   'original_title': 'Dragonheart: Vengeance',
   'overview': 'Lukas, a young farmer whose family is killed by savage raiders in the countryside, sets out on an epic quest for revenge, forming an unlikely trio with a majestic dragon and a swashbuckling, sword-fighting mercenary, Darius.',
   'popularity': 324.871,
   'poster_path': '/qs6gz6atyQcAvqC6qZaslOjliUG.jpg',
   'release_date': '2020-02-04',
   'title': 'Dragonheart: Vengeance',
   'video': False,
   'vote_average': 6.9,
   'vote_count': 213},
  {'adult': False,
   'backdrop_path': '/5VKquU8PNujrxLmsYGHf2TCRNFQ.jpg',
   'genre_ids': [878, 28, 12, 9648, 36, 14],
   'id': 582306,
   'original_language': 'en',
   'original_title': 'Assassin 33 A.D.',
   'overview': 'When a billionaire gives a group of young scientists unlimited resources to study the science of matter transfer, the scientists unlock the secrets of time travel. But they soon find out that the project is backed by a militant extremist group, and the billionaire plans to go back in time and prove that Jesus never rose from the dead.',
   'popularity': 295.79,
   'poster_path': '/8jDvtdH327I8TgX3UPdkAsZF1dA.jpg',
   'release_date': '2020-01-24',
   'title': 'Assassin 33 A.D.',
   'video': False,
   'vote_average': 5.2,
   'vote_count': 58},
  {'adult': False,
   'backdrop_path': '/gGwA6YErMjiROavfGyxdciQnlTA.jpg',
   'genre_ids': [18, 53],
   'id': 596247,
   'original_language': 'es',
   'original_title': 'Pacto de fuga',
   'overview': 'During the last years of Pinochet\'s military regime,  a group of militants from the "Manuel Rodríguez Patriotic Front" plan a prison break of political prisoners, through a tunnel that will take them 18 months to dig.',
   'popularity': 278.026,
   'poster_path': '/qDFfu73R8uO94ydFtdxEdSfTlg6.jpg',
   'release_date': '2020-01-23',
   'title': 'Pacto de Fuga',
   'video': False,
   'vote_average': 7.8,
   'vote_count': 55},
  {'adult': False,
   'backdrop_path': '/dT05ycGuf4h1uYYAJttxTFKkfBQ.jpg',
   'genre_ids': [10752, 18],
   'id': 662334,
   'original_language': 'es',
   'original_title': 'Chaco',
   'overview': "In 1934, Bolivia is at war with Paraguay. Liborio and Ticona and other Bolivian indigenous soldiers are lost in the hell of the Chaco, under the commandment of German Captain Kundt. They're looking for the Paraguayan enemy that they haven't seen for months, and that they will never find. They leave together in a search that will make them realize, progressively, the destiny they have been pushed into and the inevitable condition of a defeated troop. They're walking like shadows, wandering forever in the middle of dust and silence.",
   'popularity': 210.867,
   'poster_path': '/hCR2i9rK6P4VHMfFw2MT5jDGJcN.jpg',
   'release_date': '2020-01-28',
   'title': 'Chaco',
   'video': False,
   'vote_average': 7.9,
   'vote_count': 40},
  {'adult': False,
   'backdrop_path': '/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg',
   'genre_ids': [28, 27, 878, 53],
   'id': 443791,
   'original_language': 'en',
   'original_title': 'Underwater',
   'overview': 'After an earthquake destroys their underwater station, six researchers must navigate two miles along the dangerous, unknown depths of the ocean floor to make it to safety in a race against time.',
   'popularity': 198.35,
   'poster_path': '/gzlbb3yeVISpQ3REd3Ga1scWGTU.jpg',
   'release_date': '2020-01-08',
   'title': 'Underwater',
   'video': False,
   'vote_average': 6.3,
   'vote_count': 2017},
  {'adult': False,
   'backdrop_path': '/4br4B8C0SRIYcKHUgoaOlGo50MU.jpg',
   'genre_ids': [27],
   'id': 575088,
   'original_language': 'ru',
   'original_title': 'Яга. Кошмар тёмного леса',
   'overview': 'The young family who moved to a new apartment on the outskirts of the city. The nanny hired by them for the newborn daughter quickly gained confidence. However, the older boy, Egor, talks about the frightening behavior of a woman, but his parents do not believe him. The surveillance cameras installed by the father for comfort only confirm everything is in order. Then one day, Egor, returning home, finds no trace of either the nanny or the little sister, and the parents are in a strange trance and do not even remember that they had a daughter. Then Egor, together with his friends, goes in search, during which it turns out that the nanny is an ancient Slavic demon, popularly known as Baba Yaga.',
   'popularity': 184.431,
   'poster_path': '/8m5HTXzwewlfXhtZtLlLts53YTW.jpg',
   'release_date': '2020-02-27',
   'title': 'Baba Yaga: Terror of the Dark Forest',
   'video': False,
   'vote_average': 6.2,
   'vote_count': 119},
  {'adult': False,
   'backdrop_path': '/lsgYcIbcoQeDZXsHYMOnkvk3sn0.jpg',
   'genre_ids': [18, 53],
   'id': 505225,
   'original_language': 'en',
   'original_title': 'The Last Thing He Wanted',
   'overview': 'At the turning point of the Iran-Contra affair, Elena McMahon, a fearless investigative journalist covering the 1984 US presidential campaign, puts herself in danger when she abandons her assigned task in order to fulfill the last wish of her ailing father, a mysterious man whose past activities she barely knows.',
   'popularity': 185.932,
   'poster_path': '/gItrnbEbMBbUrdIkFz8kgS2gkt.jpg',
   'release_date': '2020-02-14',
   'title': 'The Last Thing He Wanted',
   'video': False,
   'vote_average': 5,
   'vote_count': 324},
  {'adult': False,
   'backdrop_path': '/a8ppJJIQmEJcLSFfhxupc4aT4KW.jpg',
   'genre_ids': [18, 28, 53],
   'id': 571785,
   'original_language': 'ko',
   'original_title': '사냥의 시간',
   'overview': 'Four young men who want to leave their dystopian world behind and go to a distant paradise execute a money robbery, a daring act that will have unexpected consequences.',
   'popularity': 194.156,
   'poster_path': '/bkuuvDoPkOJpg0ZDzHkUWt8ZG5A.jpg',
   'release_date': '2020-02-22',
   'title': 'Time to Hunt',
   'video': False,
   'vote_average': 7.3,
   'vote_count': 174},
  {'adult': False,
   'backdrop_path': '/ySHlkHDbXztjdjRJ0pZN7FXRnaW.jpg',
   'genre_ids': [16, 12, 28, 14],
   'id': 631132,
   'original_language': 'ja',
   'original_title': "ゴブリンスレイヤー -GOBLIN'S CROWN-",
   'overview': 'Goblin Slayer and his party head up to the snowy mountains in the north after receiving that request from the Sword Maiden to find any information on the Noble Fencer that disappeared after leaving to slay some goblins. A small village gets attacked, they encounter a mysterious chapel, and something about how these goblins are acting bothers the Goblin slayer.  In order to save the captured Noble Fencer, the Goblin Slayer and his party head to an ancient fortress covered in snow to face off with a powerful foe and a horde of goblins!',
   'popularity': 174.537,
   'poster_path': '/oyDaF4za9C9GxfYSyZUmj2aZGJT.jpg',
   'release_date': '2020-02-01',
   'title': "Goblin Slayer: Goblin's Crown",
   'video': False,
   'vote_average': 7.8,
   'vote_count': 108},
  {'adult': False,
   'backdrop_path': '/xRKwiUHGnsZGxZaO6OIKqpzJjPa.jpg',
   'genre_ids': [28, 53],
   'id': 466622,
   'original_language': 'en',
   'original_title': 'The Rhythm Section',
   'overview': 'Blake Lively stars as Stephanie Patrick, a woman on a path of self-destruction after her family is tragically killed in a plane crash. When she discovers the wreck was no accident, Stephanie enters the dark, complex world of international espionage seeking vengeance. Her search leads to Iain Boyd (Jude Law), a former MI6 agent who trains her to hunt down those responsible. With nothing left to lose, Stephanie transforms from victim to assassin and discovers that neither revenge nor the truth are what they appear in this action-packed thriller from the producers of James Bond.',
   'popularity': 172.41,
   'poster_path': '/spTr0VYyRtl36Lkk6nCnnbFXhus.jpg',
   'release_date': '2020-01-31',
   'title': 'The Rhythm Section',
   'video': False,
   'vote_average': 5.6,
   'vote_count': 356},
  {'adult': False,
   'backdrop_path': '/p6ExERRwodksg0fFKzCjmNCR6Hw.jpg',
   'genre_ids': [53],
   'id': 531299,
   'original_language': 'en',
   'original_title': 'Kill Chain',
   'overview': 'A hotel room shootout between two assassins kicks off a long night where bodies fall like dominoes, as we follow a chain of crooked cops, gangsters, hitmen, a femme Fatale and an ex-mercenary through a relay of murder, betrayal, revenge and redemption.',
   'popularity': 161.52,
   'poster_path': '/wy0Xs5mGtD92PyKvsl0lxzbzscG.jpg',
   'release_date': '2020-02-20',
   'title': 'Kill Chain',
   'video': False,
   'vote_average': 5.6,
   'vote_count': 70},
  {'adult': False,
   'backdrop_path': '/sCtJkYwBrJm8mygRrDGyluf1gSV.jpg',
   'genre_ids': [27, 878, 53],
   'id': 736509,
   'original_language': 'en',
   'original_title': 'Intersect',
   'overview': 'A group of young Miskatonic University scientists invent a time machine, only to learn that they are being manipulated by mysterious, unseen forces from another dimension.',
   'popularity': 158.44,
   'poster_path': '/e6hgmD0P133bW5EH1kfhscwXN2a.jpg',
   'release_date': '2020-02-12',
   'title': 'Intersect',
   'video': False,
   'vote_average': 6,
   'vote_count': 32},
  {'adult': False,
   'backdrop_path': '/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg',
   'genre_ids': [28, 878, 35, 10751],
   'id': 454626,
   'original_language': 'en',
   'original_title': 'Sonic the Hedgehog',
   'overview': 'Based on the global blockbuster videogame franchise from Sega, Sonic the Hedgehog tells the story of the world’s speediest hedgehog as he embraces his new home on Earth. In this live-action adventure comedy, Sonic and his new best friend team up to defend the planet from the evil genius Dr. Robotnik and his plans for world domination.',
   'popularity': 124.148,
   'poster_path': '/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg',
   'release_date': '2020-02-12',
   'title': 'Sonic the Hedgehog',
   'video': False,
   'vote_average': 7.5,
   'vote_count': 6743},
  {'adult': False,
   'backdrop_path': '/2kLxuulkqHJHzTLveWGHYjVSHDo.jpg',
   'genre_ids': [28, 35, 80],
   'id': 591237,
   'original_language': 'en',
   'original_title': 'Bulletproof 2',
   'overview': 'Special Agent Jack Carter reluctantly assumes the identity of criminal Archie Moses to take down a powerful South African crime family. But when the real Moses is put in danger, he and Carter must work together to foil the scheme for good.',
   'popularity': 112.327,
   'poster_path': '/uGILkFnRrpdiNtDaHeekGZSn5o5.jpg',
   'release_date': '2020-01-07',
   'title': 'Bulletproof 2',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 72},
  {'adult': False,
   'backdrop_path': '/prNSFGKGjtc2lYEr8zjDastCeEg.jpg',
   'genre_ids': [35, 10749],
   'id': 552687,
   'original_language': 'ja',
   'original_title': 'ヲタクに恋は難しい',
   'overview': 'An effervescent musical about one of the most unlikely couples seen on screen: two Otaku intent on hiding their nerdiness from their colleagues!',
   'popularity': 84.823,
   'poster_path': '/9JV0LOcazudqEcz2NNOMqEIzACz.jpg',
   'release_date': '2020-02-07',
   'title': 'Wotakoi: Love is Hard for Otaku',
   'video': False,
   'vote_average': 7.1,
   'vote_count': 34},
  {'adult': False,
   'backdrop_path': '/aBvw8qYDMmbyU4ttzWSfiTxeICG.jpg',
   'genre_ids': [35],
   'id': 557940,
   'original_language': 'es',
   'original_title': 'Las Pildoras de mi Novio',
   'overview': "A Woman's island getaway with her boyfriend is thrown for a loop when he forgets to take his prescription medications along.",
   'popularity': 91.208,
   'poster_path': '/hVSOXCBuPXw8yXqbNfwU9ogIp88.jpg',
   'release_date': '2020-02-14',
   'title': "My Boyfriend's Meds",
   'video': False,
   'vote_average': 7.2,
   'vote_count': 268},
  {'adult': False,
   'backdrop_path': '/fssCO59bqU5f0zngeYKex0g1vyb.jpg',
   'genre_ids': [35, 28],
   'id': 457335,
   'original_language': 'en',
   'original_title': 'Guns Akimbo',
   'overview': 'An ordinary guy suddenly finds himself forced to fight a gladiator-like battle for a dark website that streams the violence for viewers. Miles must fight heavily armed Nix and also save his kidnapped ex-girlfriend.',
   'popularity': 80.313,
   'poster_path': '/2kNnf7BwRCEm4bcFkdiE0T4U25s.jpg',
   'release_date': '2020-02-27',
   'title': 'Guns Akimbo',
   'video': False,
   'vote_average': 6.5,
   'vote_count': 1299}],
 'total_pages': 194,
 'total_results': 3876}

In [21]:
pd.DataFrame(data)

,page,results,total_pages,total_results
0,1,"{'adult': False, 'backdrop_path': '/jiqD14fg7U...",194,3876
1,1,"{'adult': False, 'backdrop_path': '/3N316jUSdh...",194,3876
2,1,"{'adult': False, 'backdrop_path': '/1umKVgbjFG...",194,3876
3,1,"{'adult': False, 'backdrop_path': '/6mKAKhj8PO...",194,3876
4,1,"{'adult': False, 'backdrop_path': '/5VKquU8PNu...",194,3876
5,1,"{'adult': False, 'backdrop_path': '/gGwA6YErMj...",194,3876
6,1,"{'adult': False, 'backdrop_path': '/dT05ycGuf4...",194,3876
7,1,"{'adult': False, 'backdrop_path': '/ww7eC3BqSb...",194,3876
8,1,"{'adult': False, 'backdrop_path': '/4br4B8C0SR...",194,3876
9,1,"{'adult': False, 'backdrop_path': '/lsgYcIbcoQ...",194,3876
10,1,"{'adult': False, 'backdrop_path': '/a8ppJJIQmE...",194,3876
11,1,"{'adult': False, 'backdrop_path': '/ySHlkHDbXz...",194,3876
12,1,"{'adult': False, 'backdrop_path': '/xRKwiUHGns...",194,3876
13,1,"{'adult': False, 'backdrop_path': '/p6ExERRwod...",194,3876
14,1,"{'adult': False, 'backdrop_path': '/sCtJkYwBrJ...",194,3876
15,1,"{'adult': False, 'backdrop_path': '/stmYfCUGd8...",194,3876
16,1,"{'adult': False, 'backdrop_path': '/2kLxuulkqH...",194,3876
17,1,"{'adult': False, 'backdrop_path': '/prNSFGKGjt...",194,3876
18,1,"{'adult': False, 'backdrop_path': '/aBvw8qYDMm...",194,3876
19,1,"{'adult': False, 'backdrop_path': '/fssCO59bqU...",194,3876

In [22]:
pd.DataFrame(data["results"])

,adult,backdrop_path,genre_ids,id,original_language,...,release_date,title,video,vote_average,vote_count
0,False,/jiqD14fg7UTZOT6qgvzTmfRYpWI.jpg,"[28, 80]",495764,en,...,2020-02-05,Birds of Prey (and the Fantabulous Emancipatio...,False,7.1,7353
1,False,/3N316jUSdhvPyYTW29G4v9ebbcS.jpg,"[53, 28, 80]",38700,en,...,2020-01-15,Bad Boys for Life,False,7.2,6180
2,False,/1umKVgbjFG5Cho5ZKTpcvRFJjuJ.jpg,"[35, 53, 80]",609242,es,...,2020-01-16,The Heist of the Century,False,8.0,481
3,False,/6mKAKhj8POVGqV1GsroS5mGIUe9.jpg,"[14, 28, 12]",666750,en,...,2020-02-04,Dragonheart: Vengeance,False,6.9,213
4,False,/5VKquU8PNujrxLmsYGHf2TCRNFQ.jpg,"[878, 28, 12, 9648, 36, 14]",582306,en,...,2020-01-24,Assassin 33 A.D.,False,5.2,58
5,False,/gGwA6YErMjiROavfGyxdciQnlTA.jpg,"[18, 53]",596247,es,...,2020-01-23,Pacto de Fuga,False,7.8,55
6,False,/dT05ycGuf4h1uYYAJttxTFKkfBQ.jpg,"[10752, 18]",662334,es,...,2020-01-28,Chaco,False,7.9,40
7,False,/ww7eC3BqSbFsyE5H5qMde8WkxJ2.jpg,"[28, 27, 878, 53]",443791,en,...,2020-01-08,Underwater,False,6.3,2017
8,False,/4br4B8C0SRIYcKHUgoaOlGo50MU.jpg,[27],575088,ru,...,2020-02-27,Baba Yaga: Terror of the Dark Forest,False,6.2,119
9,False,/lsgYcIbcoQeDZXsHYMOnkvk3sn0.jpg,"[18, 53]",505225,en,...,2020-02-14,The Last Thing He Wanted,False,5.0,324
10,False,/a8ppJJIQmEJcLSFfhxupc4aT4KW.jpg,"[18, 28, 53]",571785,ko,...,2020-02-22,Time to Hunt,False,7.3,174
11,False,/ySHlkHDbXztjdjRJ0pZN7FXRnaW.jpg,"[16, 12, 28, 14]",631132,ja,...,2020-02-01,Goblin Slayer: Goblin's Crown,False,7.8,108
12,False,/xRKwiUHGnsZGxZaO6OIKqpzJjPa.jpg,"[28, 53]",466622,en,...,2020-01-31,The Rhythm Section,False,5.6,356
13,False,/p6ExERRwodksg0fFKzCjmNCR6Hw.jpg,[53],531299,en,...,2020-02-20,Kill Chain,False,5.6,70
14,False,/sCtJkYwBrJm8mygRrDGyluf1gSV.jpg,"[27, 878, 53]",736509,en,...,2020-02-12,Intersect,False,6.0,32
15,False,/stmYfCUGd8Iy6kAMBr6AmWqx8Bq.jpg,"[28, 878, 35, 10751]",454626,en,...,2020-02-12,Sonic the Hedgehog,False,7.5,6743
16,False,/2kLxuulkqHJHzTLveWGHYjVSHDo.jpg,"[28, 35, 80]",591237,en,...,2020-01-07,Bulletproof 2,False,7.1,72
17,False,/prNSFGKGjtc2lYEr8zjDastCeEg.jpg,"[35, 10749]",552687,ja,...,2020-02-07,Wotakoi: Love is Hard for Otaku,False,7.1,34
18,False,/aBvw8qYDMmbyU4ttzWSfiTxeICG.jpg,[35],557940,es,...,2020-02-14,My Boyfriend's Meds,False,7.2,268
19,False,/fssCO59bqU5f0zngeYKex0g1vyb.jpg,"[35, 28]",457335,en,...,2020-02-27,Guns Akimbo,False,6.5,1299

# 11. Importing and Storing the Movies Dataset (Best Practice)

In [23]:
movie_id = [0,299534, 19995,140607, 299536, 597, 1353977,
           420818, 24428, 168259, 99861, 284054, 12445,
           181808, 330457, 351286, 109445, 321612, 260513]

In [24]:
basic_url = 'https://api.themoviedb.org/3/movie/{}?{}'  #two placeholders

In [29]:
json_list = [] #automate and scale with python
for movie in movie_id:
    url = basic_url.format(movie, api_key)
    r = requests.get(url)
    if r.status_code != 200:
        continue
    else:
        data = r.json()
        json_list.append(data)
df = pd.DataFrame(json_list)

In [30]:
requests.get(basic_url.format(0, api_key)).status_code

404

In [31]:
df

,adult,backdrop_path,belongs_to_collection,budget,genres,...,tagline,title,video,vote_average,vote_count
0,False,/7RyHsO4yDXtBv1zUU3mTpHeQ0d5.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",356000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",...,Part of the journey is the end.,Avengers: Endgame,False,8.3,17858
1,False,/AmHOQ7rpHwiaUMRjKXztnauSJb7.jpg,"{'id': 87096, 'name': 'Avatar Collection', 'po...",237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",...,Enter the World of Pandora.,Avatar,False,7.5,23215
2,False,/k6EOrckWFuz7I4z4wiRwz8zsj4H.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",245000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",...,Every generation has a story.,Star Wars: The Force Awakens,False,7.4,15697
3,False,/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",300000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",...,An entire universe. Once and for all.,Avengers: Infinity War,False,8.3,21542
4,False,/6VmFqApQRyZZzmiGOQq2C92jyvH.jpg,None,200000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",...,Nothing on Earth could come between them.,Titanic,False,7.9,19023
5,False,/nRXO2SnOA75OsWhNhXstHB8ZmI3.jpg,"{'id': 762512, 'name': 'The Lion King (Reboot)...",260000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",...,The King has Returned.,The Lion King,False,7.2,7596
6,False,/nNmJRkg8wWnRmzQDe2FwKbPIsJV.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",...,Some assembly required.,The Avengers,False,7.7,24471
7,False,/vkQvqH8WQkUiNklDcbUtHEUgSNQ.jpg,"{'id': 9485, 'name': 'The Fast and the Furious...",190000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",...,Vengeance Hits Home,Furious 7,False,7.3,8259
8,False,/xnqust9Li4oxfhXD5kcPi3UC8i4.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",250000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",...,A New Age Has Come.,Avengers: Age of Ultron,False,7.3,17717
9,False,/AlFqBwJnokrp9zWTXOUv7uhkaeq.jpg,"{'id': 529892, 'name': 'Black Panther Collecti...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",...,Long live the king.,Black Panther,False,7.4,17174
10,False,/n5A7brJCjejceZmHyujwUTVgQNC.jpg,"{'id': 1241, 'name': 'Harry Potter Collection'...",125000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",...,It all ends here.,Harry Potter and the Deathly Hallows: Part 2,False,8.1,15535
11,False,/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg,"{'id': 10, 'name': 'Star Wars Collection', 'po...",200000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",...,Darkness rises... and light to meet it,Star Wars: The Last Jedi,False,6.9,11828
12,False,/xJWPZIYOEFIjZpBL7SVBGnzRYXp.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",...,The past is not what it seems.,Frozen II,False,7.3,7257
13,False,/3s9O5af2xWKWR5JzP2iJZpZeQQg.jpg,"{'id': 328, 'name': 'Jurassic Park Collection'...",170000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",...,The park is gone,Jurassic World: Fallen Kingdom,False,6.6,8796
14,False,/fydUcbkqLyESCFa9U5XKqi8dIVj.jpg,"{'id': 386382, 'name': 'Frozen Collection', 'p...",150000000,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",...,Only the act of true love will thaw a frozen h...,Frozen,False,7.3,13082
15,False,/m3tdSyl11fhgXPDSEt3aBctTqGP.jpg,None,160000000,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",...,Be our guest.,Beauty and the Beast,False,7.0,13348
16,False,/mabuNsGJgRuCTuGqjFkWe1xdu19.jpg,"{'id': 468222, 'name': 'The Incredibles Collec...",200000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",...,Back to work.,Incredibles 2,False,7.5,9823

In [33]:
df = df.loc[:, ["title", "id", "revenue", "genres", "belongs_to_collection", "runtime"]].sort_values(by = "revenue",
                                                                                                    ascending = False)

In [34]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
4,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
6,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
7,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
12,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
8,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
9,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
10,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
11,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
14,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
15,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
16,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [43]:
df.to_json("movies.json", orient = "records") #records orientation is best to work with pandas

In [44]:
with open("movies.json") as f:
    data = json.load(f)

In [45]:
pd.json_normalize(data)

,title,id,revenue,genres,runtime,belongs_to_collection.id,belongs_to_collection.name,belongs_to_collection.poster_path,belongs_to_collection.backdrop_path,belongs_to_collection
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...",181,86311.0,The Avengers Collection,/yQpAleQ1KHebVem2vwWL6VPqILT.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",162,87096.0,Avatar Collection,/gC3tW9a45RGOzzSh6wv91pFnmFr.jpg,/syGPZuzcHBBHMLiNDN0x0Tms4Fk.jpg,NaN
2,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",194,NaN,NaN,NaN,NaN,NaN
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",136,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
4,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",149,86311.0,The Avengers Collection,/yQpAleQ1KHebVem2vwWL6VPqILT.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
5,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",118,762512.0,The Lion King (Reboot) Collection,None,None,NaN
6,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",143,86311.0,The Avengers Collection,/yQpAleQ1KHebVem2vwWL6VPqILT.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
7,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",137,9485.0,The Fast and the Furious Collection,/zQdytnqfsWKJlqazqfMBL2L7aql.jpg,/gC9BUFiROWtaMsluGYziZ6lR4OJ.jpg,NaN
8,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",103,386382.0,Frozen Collection,/dwdyvzFX9NEI7oFlRnZurRmlswQ.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141,86311.0,The Avengers Collection,/yQpAleQ1KHebVem2vwWL6VPqILT.jpg,/zuW6fOiusv4X9nnW3paHGfXcSll.jpg,NaN
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",134,529892.0,Black Panther Collection,/uVnN6KnfDuHiC8rsVsSc7kk0WRD.jpg,/1Jj7Frjjbewb6Q6dl6YXhL3kuvL.jpg,NaN
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",130,1241.0,Harry Potter Collection,/eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg,/wfnMt6LGqYHcNyOfsuusw5lX3bL.jpg,NaN
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",152,10.0,Star Wars Collection,/iTQHKziZy9pAAY4hHEDCGPaOvFC.jpg,/d8duYyyC9J5T825Hg7grmaabfxQ.jpg,NaN
13,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",129,328.0,Jurassic Park Collection,/qIm2nHXLpBBdMxi8dvfrnDkBUDh.jpg,/njFixYzIxX8jsn6KMSEtAzi4avi.jpg,NaN
14,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...",102,386382.0,Frozen Collection,/dwdyvzFX9NEI7oFlRnZurRmlswQ.jpg,/6QonAoIN0jhWZZWZGJswSxHzUnU.jpg,NaN
15,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",129,NaN,NaN,NaN,NaN,NaN
16,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",118,468222.0,The Incredibles Collection,/vWrv5Hu4TtJD1ah8XAJjZwoY86c.jpg,/6oi6V1O9MJRNnfV8E9JMntmFqBD.jpg,NaN

In [46]:
pd.json_normalize(data, "genres", "title")

       id             name                                         title
0      12        Adventure                             Avengers: Endgame
1     878  Science Fiction                             Avengers: Endgame
2      28           Action                             Avengers: Endgame
3      28           Action                                        Avatar
4      12        Adventure                                        Avatar
5      14          Fantasy                                        Avatar
6     878  Science Fiction                                        Avatar
7      18            Drama                                       Titanic
8   10749          Romance                                       Titanic
9      28           Action                  Star Wars: The Force Awakens
10     12        Adventure                  Star Wars: The Force Awakens
11    878  Science Fiction                  Star Wars: The Force Awakens
12     14          Fantasy                  Star Wars: The Force Awakens
13     12        Adventure                        Avengers: Infinity War
14     28           Action                        Avengers: Infinity War
15    878  Science Fiction                        Avengers: Infinity War
16     12        Adventure                                 The Lion King
17  10751           Family                                 The Lion King
18     16        Animation                                 The Lion King
19    878  Science Fiction                                  The Avengers
20     28           Action                                  The Avengers
21     12        Adventure                                  The Avengers
22     28           Action                                     Furious 7
23     53         Thriller                                     Furious 7
24  10751           Family                                     Frozen II
25     16        Animation                                     Frozen II
26     12        Adventure                                     Frozen II
27     35           Comedy                                     Frozen II
28     14          Fantasy                                     Frozen II
29  10402            Music                                     Frozen II
30     28           Action                       Avengers: Age of Ultron
31     12        Adventure                       Avengers: Age of Ultron
32    878  Science Fiction                       Avengers: Age of Ultron
33     28           Action                                 Black Panther
34     12        Adventure                                 Black Panther
35    878  Science Fiction                                 Black Panther
36     14          Fantasy  Harry Potter and the Deathly Hallows: Part 2
37     12        Adventure  Harry Potter and the Deathly Hallows: Part 2
38    878  Science Fiction                      Star Wars: The Last Jedi
39     28           Action                      Star Wars: The Last Jedi
40     12        Adventure                      Star Wars: The Last Jedi
41     28           Action                Jurassic World: Fallen Kingdom
42     12        Adventure                Jurassic World: Fallen Kingdom
43    878  Science Fiction                Jurassic World: Fallen Kingdom
44     16        Animation                                        Frozen
45     12        Adventure                                        Frozen
46  10751           Family                                        Frozen
47  10751           Family                          Beauty and the Beast
48     14          Fantasy                          Beauty and the Beast
49  10749          Romance                          Beauty and the Beast
50     28           Action                                 Incredibles 2
51     12        Adventure                                 Incredibles 2
52     16        Animation                                 Incredibles 2
53  10751           Family                                 Incredibles 2

# 12. Importing and Storing the Movies Dataset (Real World Scenario)

In [48]:
df #csv good in handling tabular data
#but they are pretty limited when it comes to handling nested data

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
4,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,194
2,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
3,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
6,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
7,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
12,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
8,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
9,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
10,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
11,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
14,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
15,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",None,129
16,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [49]:
df.to_csv("movies_raw.csv", index = False) #drop the range index

In [50]:
df = pd.read_csv("movies_raw.csv")

In [51]:
df

,title,id,revenue,genres,belongs_to_collection,runtime
0,Avengers: Endgame,299534,2797800564,"[{'id': 12, 'name': 'Adventure'}, {'id': 878, ...","{'id': 86311, 'name': 'The Avengers Collection...",181
1,Avatar,19995,2787965087,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 87096, 'name': 'Avatar Collection', 'po...",162
2,Titanic,597,2187463944,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,194
3,Star Wars: The Force Awakens,140607,2068223624,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 10, 'name': 'Star Wars Collection', 'po...",136
4,Avengers: Infinity War,299536,2046239637,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...","{'id': 86311, 'name': 'The Avengers Collection...",149
5,The Lion King,420818,1656943394,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...","{'id': 762512, 'name': 'The Lion King (Reboot)...",118
6,The Avengers,24428,1518815515,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 86311, 'name': 'The Avengers Collection...",143
7,Furious 7,168259,1515047671,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...","{'id': 9485, 'name': 'The Fast and the Furious...",137
8,Frozen II,330457,1450026933,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",103
9,Avengers: Age of Ultron,99861,1405403694,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 86311, 'name': 'The Avengers Collection...",141
10,Black Panther,284054,1346739107,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 529892, 'name': 'Black Panther Collecti...",134
11,Harry Potter and the Deathly Hallows: Part 2,12445,1341511219,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...","{'id': 1241, 'name': 'Harry Potter Collection'...",130
12,Star Wars: The Last Jedi,181808,1332539889,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...","{'id': 10, 'name': 'Star Wars Collection', 'po...",152
13,Jurassic World: Fallen Kingdom,351286,1303459585,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 328, 'name': 'Jurassic Park Collection'...",129
14,Frozen,109445,1274219009,"[{'id': 16, 'name': 'Animation'}, {'id': 12, '...","{'id': 386382, 'name': 'Frozen Collection', 'p...",102
15,Beauty and the Beast,321612,1263521126,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",NaN,129
16,Incredibles 2,260513,1242805359,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","{'id': 468222, 'name': 'The Incredibles Collec...",118

In [52]:
df.genres[0] #not a list but a string, cause problems so that's why it's data must be cleaned

"[{'id': 12, 'name': 'Adventure'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 28, 'name': 'Action'}]"