# Project 3 Data Cleaning - Tidy up messy Datasets (Movies Dataset)

# 1. Project Overview

## First Steps
- Load and inspect the messy dataset movies_metadata.csv. Identify columns with nested / stringified json data.
## Dropping irrelevant Columns
- Drop the irrelevant columns 'adult', 'imdb_id', 'original_title', 'video' and 'homepage'.
## How to handle stringified JSON columns
- Evaluate Python Expressions in the stringified columns ["belongs_to_collection", "genres", "production_countries", "production_companies", "spoken_languages"] and remove quotes ("") where possible.
## How to flatten nested Columns
- Extract only the collection name from the column "belongs_to_collection" and overwrite "belongs_to_collection".
- For example: The value in the first row (Toy Story) should be 'Toy Story Collection'.
- Extract all genre names from the column "genres" and overwrite "genres". If a movie has more than one genre, seperate genres by a pipe "|".
- For example: The value in the first row (Toy Story) should be 'Animation|Comedy|Family'.
- Extract all spoken language names from the column "spoken_languages" and overwrite "spoken_languages". If a movie has more than one spoken language, seperate spoken languages by a pipe "|".
- For example: The value in the first row (Toy Story) should be 'English'.
- Extract all production countries names from the column "production_countries" and overwrite "production_countries". If a movie has more than one production country, seperate production countries by a pipe "|".
- For example: The value in the first row (Toy Story) should be 'United States of America'.
- Extract all production companies names from the column "production_companies" and overwrite "production_companies". If a movie has more than one production company, seperate production companies by a pipe "|".
- For example: The value in the first row (Toy Story) should be 'Pixar Animation Studios'
- Inspect all columns above with value_counts(). Do you see anything strange? Take reasonable measures!
## Cleaning Numerical Columns
- Convert the datatype in the columns "budget", "id" and "popularity" to numeric. Set invalid values as NaN.
- Analyze the columns "budget" and "revenue" and "runtime". Analyze movies with a budget/revenue/runtime of 0. Do you think the value 0 is the most appropriate value? Take reasonable measures!
- The columns "budget" and "revenue" shall show values in Million USD. Convert and Overwrite!
- Analyze movies with a vote_count of 0. What´s the vote_average for those movies? Do you think this value is the most appropriate value? Take reasonable measures!
## Cleaning DateTime Columns
- Convert the datatype in the column "release_date" to datetime. Set invalid values as NaN.
## Cleaning Text / String Columns
- Analyze the text columns "overview" and "tagline". Try to identify missing data that is not represented by NaN (e.g. "No Data"). Replace as NaN (np.nan)!
## Removing Duplicates
- Identify and remove duplicates!
## Handling Missing Values & Removing Observations
- Drop all rows/movies with unknown id or title.
- Keep only those rows/movies in the df with 10 or more non-NaN values.
## Final (Cleaning) Steps
- Keep only those rows/movies in the df with status "Released". Then drop the column "status".
- The Order of the columns should be as follows:
- ["id", "title", "tagline", "release_date", "genres", "belongs_to_collection", 
"original_language", "budget_musd", "revenue_musd", "production_companies",
"production_countries", "vote_count", "vote_average", "popularity", "runtime",
"overview", "spoken_languages", "poster_path"]
- Reset the Index and create a RangeIndex.
- Save the cleaned dataset in a csv-file.

In [ ]:
#text data in numerical column , string data that should be list data, missing values, correct data type, identify and
#remove duplicates

# 3. Project Brief for Self-Coders

# 4. First Steps

In [1]:
import pandas as pd
pd.options.display.max_columns = 10

In [8]:
df = pd.read_csv("movies_metadata.csv", low_memory = False) #error this , set memory to false

In [9]:
df

,adult,belongs_to_collection,budget,genres,homepage,...,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,...,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,...,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,...,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,...,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,...,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,...,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,...,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,...,NaN,Queerama,False,0.0,0.0

In [10]:
df.info() #popularity should be numerical, budget numerical, release date should be datetime column
#in homepage there are missing values , nested column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [11]:
df.genres[0] #stringified json list data

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [12]:
df.belongs_to_collection[0] #stringified dictionary data

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

# 5. Dropping irrelevant Columns

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [14]:
df.adult.value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 - Written by Ørnås                                                                                                                   1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
Name: adult, dtype: int64

In [15]:
df.drop(columns = ['adult'], inplace = True)

In [16]:
df.drop(columns = ['imdb_id'], inplace = True)

In [17]:
df.drop(columns = ['original_title'], inplace = True)

In [18]:
df.drop(columns = ['video'], inplace = True)

In [19]:
df.drop(columns = ['homepage'], inplace = True)

In [20]:
df

,belongs_to_collection,budget,genres,id,original_language,...,status,tagline,title,vote_average,vote_count
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,...,Released,NaN,Toy Story,7.7,5415.0
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,...,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...
45461,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",439050,fa,...,Released,Rising and falling between a man and woman,Subdue,4.0,1.0
45462,NaN,0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,...,Released,NaN,Century of Birthing,9.0,3.0
45463,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,...,Released,A deadly game of wits.,Betrayal,3.8,6.0
45464,NaN,0,[],227506,en,...,Released,NaN,Satan Triumphant,0.0,0.0
45465,NaN,0,[],461257,en,...,Released,NaN,Queerama,0.0,0.0

# 6. How to handle stringified JSON columns (Part 1)

In [21]:
import json
import ast #abstract syntax trees

In [22]:
json_col = ["belongs_to_collection", "genres", "production_countries",
           "production_companies", "spoken_languages"]

In [23]:
df.belongs_to_collection[0] #double quotes for dictionary, single quote for keys and some values

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [24]:
json1 = "{'dog':3, 'cat':5}" #invalid , dictionary use single quote , key use double quote

In [25]:
json.loads(json1)

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [27]:
json2 = '{"dog":3, "cat":5}' #valid

In [28]:
json.loads(json2)

{'dog': 3, 'cat': 5}

In [29]:
json1.replace("'", '"')

'{"dog":3, "cat":5}'

In [32]:
json.loads(json1.replace("'", '"'))

{'dog': 3, 'cat': 5}

In [38]:
df.genres.apply(lambda x: json.loads(x.replace("'", '"')))#[0] #replace single with double quotes , successfully
#convert stringify data to list

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [35]:
ast.literal_eval(json1)

{'dog': 3, 'cat': 5}

In [42]:
ast.literal_eval(json2)

{'dog': 3, 'cat': 5}

In [37]:
df.genres.apply(ast.literal_eval)[0]

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [40]:
df.genres = df.genres.apply(ast.literal_eval)

ValueError: malformed node or string: [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]

In [43]:
df.loc[:, json_col].apply(ast.literal_eval, axis = 0)

ValueError: malformed node or string: 0        {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                      NaN
2        {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                      NaN
4        {'id': 96871, 'name': 'Father of the Bride Col...
                               ...
45461                                                  NaN
45462                                                  NaN
45463                                                  NaN
45464                                                  NaN
45465                                                  NaN
Name: belongs_to_collection, Length: 45466, dtype: object

In [44]:
ast.literal_eval(0) #need to find a more general way how to handle these stringified data

ValueError: malformed node or string: 0